# GCP Credentials
GOOGLE_APPLICATION_CREDENTIALS=infra/terraform/keys/nyc-uoip-sa-key.json

# Deployment Phase (1=GCP, 2=Self-hosted)
DEPLOYMENT_PHASE=1

# Socrata API (for NYC Open Data)
SOCRATA_APP_TOKEN=


GCS_BUCKET_NAME=nyc-uoip