ENV=PRO
# GCP Credentials
# Docker 部署时容器内路径固定为 /opt/airflow/keys/nyc-uoip-sa-key.json
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/keys/nyc-uoip-sa-key.json

# Deployment Phase (1=GCP, 2=Self-hosted)
DEPLOYMENT_PHASE=1

# Socrata API (for NYC Open Data)使用APP TOKEN 本项目不需要Secret Token
SOCRATA_APP_TOKEN=

# Airflow 内置了一个环境变量后端(Environment Variables Connection Backend),启动时会自动扫描所有形如 AIRFLOW_CONN_<CONN_ID大写> 的环境变量,把它们解析成 Connection 对象,效果等同于你在 Web UI 里手动填了一个 Connection Id 叫 snowflake_default 的连接。这是 Airflow 的约定优于配置机制——你不需要额外写任何代码去"注册"它,只要环境变量名字对,Airflow 启动时就自动认得。
# 变量名里的 SNOWFLAKE_DEFAULT 这段必须和代码里 snowflake_conn_id 传的字符串(转大写后)完全对应,这是它们俩产生关联的唯一纽带——不是靠位置或者其他配置文件显式连起来的,是靠这个命名约定。如果你以后想用别的 conn_id(比如 snowflake_weather),环境变量就要相应改成 AIRFLOW_CONN_SNOWFLAKE_WEATHER,并且代码里也要同步改。
AIRFLOW_CONN_SNOWFLAKE_DEFAULT=snowflake://<user>:<password>@<account_identifier>/<database>/<schema>?warehouse=<warehouse>&role=<role>


GCS_BUCKET_NAME=nyc-uoip