ENV=PRO
# GCP Credentials
# Docker 部署时容器内路径固定为 /opt/airflow/keys/nyc-uoip-sa-key.json
GOOGLE_APPLICATION_CREDENTIALS=/opt/airflow/keys/nyc-uoip-sa-key.json

# Deployment Phase (1=GCP, 2=Self-hosted)
DEPLOYMENT_PHASE=1

# Socrata API (for NYC Open Data)使用APP TOKEN 本项目不需要Secret Token
SOCRATA_APP_TOKEN=


GCS_BUCKET_NAME=nyc-uoip